pandas #instalar
requests 
pyarrow==15.0.2
numpy ==1.26.4
matplotlib #verificar
seaborn 
scikit-learn 
requests 
openpyxl
tqdm 
prefect # pip install -U prefect
python-dotenv
fastparquet
supabase
sqlalchemy 
psycopg2
# unidecode
rapidfuzz
streamlit
plotly
# unicodedata2